In [1]:
using Plots

In [3]:
using DataFrames

In [ ]:
X = ["Edison State College", "Fl A&M Uni", "Fl Atlantic Uni", "Fl Gulf Coast Uni", "Fl International Uni","Fl State Uni","New College of Fl","Pensacola State College","Santa Fe College", "Tallahasee Community College", "Uni of Central Fl", "Uni of Florida", "Uni of N Fl", "Uni of S Fl", "Uni of W fl"];
Y = [11, 11, 15, 13, 12, 13, 10], Whole=[17107, 13204, 25246, 12851, 44616, 41067, 845, 11531, 15493, 15090, 58465, 49589, 16198, 4310, 11982], Integers=[4, 14, 4, 3, 9, 31, 1, 3, 1, 2, 26, 18, 2, 2, 2])];

P = bar(X,Y)

In [16]:
df = DataFrame(Names=["Edison State College", "Fl A&M Uni", "Fl Atlantic Uni", "Fl Gulf Coast Uni", "Fl International Uni","Fl State Uni","New College of Fl","Pensacola State College","Santa Fe College", "Tallahasee Community College", "Uni of Central Fl", "Uni of Florida", "Uni of N Fl", "Uni of S Fl", "Uni of W fl"], Whole=[17107, 13204, 25246, 12851, 44616, 41067, 845, 11531, 15493, 15090, 58465, 49589, 16198, 4310, 11982], Integers=[4, 14, 4, 3, 9, 31, 1, 3, 1, 2, 26, 18, 2, 2, 2])

15×3 DataFrame
 Row │ Names                         Whole  Integers
     │ String                        Int64  Int64
─────┼───────────────────────────────────────────────
   1 │ Edison State College          17107         4
   2 │ Fl A&M Uni                    13204        14
   3 │ Fl Atlantic Uni               25246         4
   4 │ Fl Gulf Coast Uni             12851         3
   5 │ Fl International Uni          44616         9
   6 │ Fl State Uni                  41067        31
   7 │ New College of Fl               845         1
   8 │ Pensacola State College       11531         3
   9 │ Santa Fe College              15493         1
  10 │ Tallahasee Community College  15090         2
  11 │ Uni of Central Fl             58465        26
  12 │ Uni of Florida                49589        18
  13 │ Uni of N Fl                   16198         2
  14 │ Uni of S Fl                    4310         2
  15 │ Uni of W fl                   11982         2